<!DOCTYPE html>
<html>
 <head>
 <title>KINGSONG</title>
 <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="C7Kg2HhLiO5MkiUqstvuZI89zd1Gx5nIfEbrttnhjXbSN7O2yJ3CfKMebucUNVlbc2y0NbapdjZWzEioo09nrw==" />
 <link rel="stylesheet" media="all" href="/stylesheets/default.css" data-turbolinks-track="reload" />
 <script src="/javascripts/default.js" data-turbolinks-track="reload"></script>
 </head>
 <body>
 <div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
 <center><h1>เว็บรวมเพลงพระราชนิพนธ์</h1>
<p><a href="http://music.sanook.com/2382253/">รวมบทเพลงพระราชนิพนธ์</a></p>
 <html>

</div>
<center>