<!DOCTYPE html>
<html>
 <head>
 <title>KINGSONG</title>
 <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="C7Kg2HhLiO5MkiUqstvuZI89zd1Gx5nIfEbrttnhjXbSN7O2yJ3CfKMebucUNVlbc2y0NbapdjZWzEioo09nrw==" />
 <link rel="stylesheet" media="all" href="/stylesheets/default.css" data-turbolinks-track="reload" />
 <script src="/javascripts/default.js" data-turbolinks-track="reload"></script>
 </head>
 <body>
 <html>
<head>
	<title>เพลงแสงเทียน</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<body background="https://www.google.co.th/search?q=%E0%B8%97%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%9F%E0%B9%89%E0%B8%B2&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwibiqmogfnTAhVDgI8KHfAyBO0QsAQIHw&biw=1536&bih=738#imgrc=-J1y9LQvb1lQHM:&spf=1495095593227">
<center>
	<center><h1>เนื้อเพลง  ยามเย็น (Love At Sundown)</h1>

<p>แดดรอนรอน<br>
เมื่อทินกรจะลับเหลี่ยมเมฆา<br>
ทอแสงเรืองอร่ามช่างงามตา<br>
ในนภาสลับจับอัมพร<br>
แดดรอนรอน<br>
เมื่อทินกรจะลาโลกไปไกล<br>
ยามนี้จำต้องพรากจากดวงใจ<br>
ไกลแสนไกลสุดห่วงยอดดวงตา<br>
แต่ก่อนเคยคลอเคลียกัน<br>
ทุกวันคืนรื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยนวิญญาณ์	<br>
เหมือนดังนภาไร้ทินกร<br>
แดดรอนรอน	<br>
หากทินกรจะลาโลกไปไกล<br>
ความรักเราคงอยู่คู่กันไป	<br>
ในหัวใจคงอยู่คู่เชยชม<br>
แดดรอนรอน	<br>
หมู่มวลภมรบินลอยล่องตามลม<br>
คลอเคล้าพฤกษาชาติชื่นเชยชม<br>	
ชมสมตามอารมณ์ล่องเลยไป<br>
ลิ่วลมโชย	<br>
กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย<br>
ยามสายัณห์พลันพรากจากดวงใจ <br>
คอยแสงทองวันใหม่กลับคืนมา<br>
แต่ก่อนเคยคลอเคลียกัน<br>
ทุกวันคืนชื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยววิญญาณ์	<br>
เหมือนดังนภาไร้ทินกร<br>
โอ้ยามเย็น	<br>
จวบยามนี้เป็นเวลาสุดอาวรณ์<br>
ยามไร้ความสว่างห่างทินกร	<br>
ยามรักจำจะจรจากกันไป<br></p></center>

</center>	


</html>
 </body>
</html> 

