<body>
 <html>
<head>
	<title>เพลงยิ้มสู้</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center><h1>เนื้อเพลง ยิ้มสู้ (Smiles)</h1>
<p>โลกจะสุขสบายนั้นเป็นได้หลายทาง<br>
ต้องหลบสิ่งกีดขวางหนทางให้พ้นไป<br>
จะสบความสุขสันต์สำคัญที่ใจ<br>
สุขและทุกข์อย่างไรเพราะใจตนเอง<br>
ฝ่าลู่ทางชีวิตต้องคิดเฝ้าย้อมใจ<br>
โลกมืดมนเพียงใดหัวใจอย่าคร้ามเกรง<br>
ตั้งหน้าชื่นเอาไว้ย้อมใจด้วยเพลง<br>
ไยนึกกลัวหวาดเกรงยิ้มสู้<br>
คนเป็นคนจะจนหรือมี<br>
ร้ายหรือดีคงมีหวังอยู่<br>
ยามปวงมารมาพาลลบหลู่<br>
ยิ้มละมัยใจสู้หมู่มวลเภทภัย<br>
ใฝ่กระทำความดีให้มีจิตโสภา<br>
สร้างแต่ความเมตตาหาความสุขสันต์ไป<br>
จะสบความสุขสันต์สำคัญที่ใจ<br>
เฝ้าแต่ยิ้มสู้ไปแล้วใจชื่นบาน<br></p></center>

</html>
 </body>
</html> 