<!DOCTYPE html>
<html>
<head>
  <title>Kingsong</title>
  <link rel="stylesheet" media="all" href="/stylesheets/default.css" data-turbolinks-track="true" />
  <script src="/javascripts/default.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="Vs9RDz3coAjyk17mTDLqfqDbCQ4E4uUqrI/KaPuhvZxfnkIPD11phqzCjGF7Blxp7tp7ou3LLcHTxuUvMwX3Dw==" />
</head>
<body background="https://www.google.co.th/search?q=%E0%B8%97%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%9F%E0%B9%89%E0%B8%B2&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwibiqmogfnTAhVDgI8KHfAyBO0QsAQIHw&biw=1536&bih=738#imgrc=-J1y9LQvb1lQHM:&spf=1495095593227">


<!DOCTYPE html>
<html>
<title>KINGSONG</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="#home" class="w3-bar-item w3-button"><b>รวมบทเพลงพระราชนิพนธ์</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="home" class="w3-bar-item w3-button">HOME</a>
      <a href="kingsong1" class="w3-bar-item w3-button">ยามเย็น</a>
      <a href="kingsong2" class="w3-bar-item w3-button">ใกล้รุ่ง</a>
      <a href="kingsong3" class="w3-bar-item w3-button">ยิ้มสู้</a>

    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
  </div>

<div class="w3-row-padding w3-grayscale">
 <div class="w3-col l3 m6 w3-margin-bottom">
<h3><a href="kingsong1">ยิ้มสู้</a><br></h3>
<p>โลกจะสุขสบายนั้นเป็นได้หลายทาง<br>
ต้องหลบสิ่งกีดขวางหนทางให้พ้นไป<br>
จะสบความสุขสันต์สำคัญที่ใจ<br>
สุขและทุกข์อย่างไรเพราะใจตนเอง<br>
ฝ่าลู่ทางชีวิตต้องคิดเฝ้าย้อมใจ<br>
โลกมืดมนเพียงใดหัวใจอย่าคร้ามเกรง<br>
ตั้งหน้าชื่นเอาไว้ย้อมใจด้วยเพลง<br>
ไยนึกกลัวหวาดเกรงยิ้มสู้<br>
คนเป็นคนจะจนหรือมี<br>
ร้ายหรือดีคงมีหวังอยู่<br>
ยามปวงมารมาพาลลบหลู่<br>
ยิ้มละมัยใจสู้หมู่มวลเภทภัย<br>
ใฝ่กระทำความดีให้มีจิตโสภา<br>
สร้างแต่ความเมตตาหาความสุขสันต์ไป<br>
จะสบความสุขสันต์สำคัญที่ใจ<br>
เฝ้าแต่ยิ้มสู้ไปแล้วใจชื่นบาน<br></p>
</div>

<center><iframe width="854" height="480" src="https://www.youtube.com/watch?v=ALwSKze1QIU" frameborder="0" allowfullscreen></iframe></center>


</body>
</html>
<body>
 <html>
<head>
	<title>เพลงยิ้มสู้</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center><h1>เนื้อเพลง ยิ้มสู้ (Smiles)</h1>
<p>โลกจะสุขสบายนั้นเป็นได้หลายทาง<br>
ต้องหลบสิ่งกีดขวางหนทางให้พ้นไป<br>
จะสบความสุขสันต์สำคัญที่ใจ<br>
สุขและทุกข์อย่างไรเพราะใจตนเอง<br>
ฝ่าลู่ทางชีวิตต้องคิดเฝ้าย้อมใจ<br>
โลกมืดมนเพียงใดหัวใจอย่าคร้ามเกรง<br>
ตั้งหน้าชื่นเอาไว้ย้อมใจด้วยเพลง<br>
ไยนึกกลัวหวาดเกรงยิ้มสู้<br>
คนเป็นคนจะจนหรือมี<br>
ร้ายหรือดีคงมีหวังอยู่<br>
ยามปวงมารมาพาลลบหลู่<br>
ยิ้มละมัยใจสู้หมู่มวลเภทภัย<br>
ใฝ่กระทำความดีให้มีจิตโสภา<br>
สร้างแต่ความเมตตาหาความสุขสันต์ไป<br>
จะสบความสุขสันต์สำคัญที่ใจ<br>
เฝ้าแต่ยิ้มสู้ไปแล้วใจชื่นบาน<br></p></center>

</html>
 </body>
</html> 