<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>
<body background="http://t1.daumcdn.net/brunch/service/user/VLY/image/-gjmFkAbAboFZHElq_l7wQKXdOA.jpg">

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
 
  <h1 class="w3-xlarge">เว็บรวมเพลงพระราชนิพนธ์</h1>
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="home" class="w3-bar-item w3-button">Home</a>
      <a href="kingsong1" class="w3-bar-item w3-button w3-light-grey">ยามเย็น</a>
      <a href="kingsong2" class="w3-bar-item w3-button">ใกล้รุ่ง</a>
      <a href="kingsong3" class="w3-bar-item w3-button w3-hide-small">ยิ้มสู้</a>
    </div>
  </div> 
  
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/EcoGn9SzU88" frameborder="0" allowfullscreen></iframe></center><br><br>

  <h1 class="w3-xlarge">เนื้อเพลง ยามเย็น</h1><br><br>
  แดดรอนรอน<br>
เมื่อทินกรจะลับเหลี่ยมเมฆา<br>
ทอแสงเรืองอร่ามช่างงามตา<br>
ในนภาสลับจับอัมพร<br><br>

แดดรอนรอน<br>
เมื่อทินกรจะลาโลกไปไกล<br>
ยามนี้จำต้องพรากจากดวงใจ<br>
ไกลแสนไกลสุดห่วงยอดดวงตา<br><br>

แต่ก่อนเคยคลอเคลียกัน <br>
ทุกวันคืนรื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยววิญญาณ์<br>
เหมือนดังนภาไร้ทินกร<br><br>

แดดรอนรอน<br>
หากทินกรจะลาโลกไปไกล<br>
ความรักเราคงอยู่คู่กันไป<br>
ในหัวใจคงอยู่คู่เชยชม<br><br>

แดดรอนรอน<br>
หมู่มวลภมรบินลอยล่องตามลม<br>
คลอเคล้าพฤกษาชาติชื่นเชยชม<br>
ชมสมตามอารมณ์ล่องเลยไป<br><br>

ลิ่วลมโชย<br>
กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย<br>
ยามสายัณห์พลันพรากจากดวงใจ<br>
คอยแสงทองวันใหม่กลับคืนมา<br><br>

แต่ก่อนเคยคลอเคลียกัน<br>
ทุกวันคืนชื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยววิญญาณ์<br>
เหมือนดังนภาไร้ทินกร<br><br>

โอ้ยามเย็น<br>
จวบยามนี้เป็นเวลาสุดอาวรณ์<br>
ยามไร้ความสว่างห่างทินกร<br>
ยามรักจำจะจรจากกันไป<br><br>
</div></center>

</header>



</div>
</body>
</html>
